<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Acteurs</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar animated (ionChange)="searchbar($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
      
    <ion-item *ngFor='let acteur of acteurs' routerLink="/acteur/detail/{{ acteur.id }}">
      <ion-thumbnail slot="start">  
        <img src="{{ acteur.image }}">  
      </ion-thumbnail>  
      <ion-label>{{ acteur.title }}</ion-label>  
    </ion-item>

  </ion-content>
</ion-app>